<table class="dogs" id='dogs' border="2">
  <caption>G School Dogs</caption>
  <tr>
    <th id="owner">Owner</th>
    <th id="name">Dog Name</th>
    <th id="food">Favorite Food</th>
    <th id="toy">Favorite Toy</th>
  </tr>

</table>
